/* Your styles go here */
@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("bootstrap-icons/font/bootstrap-icons.css");

.jumbotron{
    background: url(https://images.unsplash.com/photo-1557939403-1760a0e47505?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8dXRhaHxlbnwwfDB8MHx8fDI%3D);
    background-position: 0 -600px;
    background-size: cover;
}